p {
    text-align: center;
    font-family: monospace;
    padding-top:20%;
}

h1 {
    text-align: center;
    letter-spacing: 60px;
    position: relative;
    top: 400px;
    
}

h2, h3 {
    margin-top: 10%;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
   
}

h3:hover {
    color: red;
}


.italic {
    font-style: italic;
}

.wide {
    letter-spacing: 15px;
    font-weight: bold;
    
}

a {
    color: gray;
}

a:hover {
    color:rgb(253, 215, 165)
}






.rise {
    position: relative;
    margin-left: 400px;
    bottom: 450px;
    letter-spacing: 40px;
    direction: rtl;
    unicode-bidi: bidi-override;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    
}

#lemon {
    font-size: 16px;
}

#mango {
    font-size: 40px;
}

#peach {
    letter-spacing: 10px;
    font-size: 16px;
}

#book1, #book2 {
    
    writing-mode: vertical-lr;
    text-orientation: upright;
}

#book2 {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#bright {
    font-size: 20px;

}

#watermelon {

    font-size: 20px;
 
}