p {
    text-align: center;
    font-family: monospace;
}

h1 {
    text-align: center;
    letter-spacing: 60px;
    position: relative;
    top: 400px;
    
}

h2, h3 {
    margin-left: 200px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey
}

h3 {
    font-size: 18px;
    color: black
}

h3:hover {
    color: red;
}


.italic {
    font-style: italic;
}

.wide {
    letter-spacing: 15px;
    font-weight: bold;
    color:rgb(157, 203, 203)
}

a {
    color: gray;
}

a:hover {
    color:antiquewhite
}




.green {
    color: green;
    font-weight: bold;
    
}

.rise {
    position: relative;
    margin-left: 400px;
    color: orange;
    bottom: 450px;
    letter-spacing: 40px;
    direction: rtl;
    unicode-bidi: bidi-override;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    
}

#lemon {
    font-size: 16px;
    color: greenyellow;
}

#mango {
    font-size: 40px;
    color: rgb(243, 195, 7);
}

#peach {
    letter-spacing: 10px;
    font-size: 16px;
    color: rgb(255, 145, 95)
}

#book1, #book2 {
    
    writing-mode: vertical-lr;
    text-orientation: upright;
}

#book2 {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#bright {
    font-size: 20px;
    color: rgb(230, 230, 171)
}

#watermelon {
    color: rgb(250, 134, 57);
    font-size: 20px;
}